@model Actor


<div class="row">

	<form method="post" asp-controller="Actor" asp-Action="EditCurrent" class="col-4" enctype="multipart/form-data">

		<div asp-validation-summary="ModelOnly" class="text-danger"> </div>



		<div>
			<label class="form-lable">@Html.DisplayNameFor(Actor => Actor.Name)</label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>

		</div>


		<div>
		<label class="form-lable">@Html.DisplayNameFor(Actor => Actor.ImageFile)</label>
			<input type="file" asp-for="ImageFile" class="form-control" accept="image/*" id="ImageFileId" onchange="previewimg()" />
			<span asp-validation-for="ImageFile" class="text-danger"></span>
		</div>

		<div>
			<label class="form-lable">@Html.DisplayNameFor(Actor => Actor.Info)</label>
			<input asp-for="Info" class="form-control" />
			<span asp-validation-for="Info" class="text-danger"></span>
		</div>


		<div>
			<label class="form-lable">@Html.DisplayNameFor(Actor => Actor.Nationality)</label>
			<input asp-for="Nationality" class="form-control" />
			<span asp-validation-for="Nationality" class="text-danger"></span>
		</div>

		<button type="submit" class="btn btn-primary mt-2">Edit</button>

	</form>
</div>
<a asp-controller="Actor"
   asp-action="GetHomePage" class="btn btn-primary col-3">
	Go-Back

</a>